<!DOCTYPE html>
<html>
<head>
    <title>Piles of Stones Game</title>
</head>
<body>
    <h1>Piles of Stones Game</h1>
    <form action="/start" method="post">
        <label for="player1">Player 1 Name:</label>
        <input type="text" name="player1" required><br>
        <label for="player2">Player 2 Name:</label>
        <input type="text" name="player2" required><br>
        <label for="pile1">Pile 1 Stones:</label>
        <input type="number" name="pile1" required><br>
        <label for="pile2">Pile 2 Stones:</label>
        <input type="number" name="pile2" required><br>
        <label for="pile3">Pile 3 Stones:</label>
        <input type="number" name="pile3" required><br>
        <input type="submit" value="Start Game">
    </form>
</body>
</html>
