<!DOCTYPE html>
<html>
<head>
    <title>Password Validation</title>
</head>
<body>
    <h1>Password Form (CP)</h1>
    <form action="/validate" method="post">
        <input type="hidden" name="l1" value="{{ l1 }}">
        <input type="hidden" name="l2" value="{{ l2 }}">
        <input type="hidden" name="iv" value="{{ iv }}">
        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
